*.html
_xmsgs
iseconfig
*.gise
xlnx_auto*
xst/
_ngo/

*.bgn
*.bin
*.bit
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst

*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.log
*.xml
*.txt
*.xwbt

